@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;

    --primary: 148 52% 25%;
    --primary-foreground: 0 0% 100%;

    --secondary: 8 77% 58%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 27%;
    --muted-foreground: 0 0% 100%;

    --accent: 0 0% 96%;
    --accent-foreground: 0 0% 0%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 87%;
    --input: 0 0% 87%;
    --ring: 148 52% 25%;

    --radius: 0.5rem;

    --font-base:
      -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    --font-raleway: "Raleway", Arial, sans-serif;
    --font-code:
      source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;

    --card: 0 0% 3%;
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 3%;
    --popover-foreground: 0 0% 100%;

    --primary: 148 52% 25%;
    --primary-foreground: 0 0% 100%;

    --secondary: 8 77% 58%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 100%;

    --accent: 0 0% 15%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 15%;
    --input: 0 0% 15%;
    --ring: 148 52% 25%;
  }
}

@layer base {
  * {
    font-family: var(--font-raleway);
  }

  body {
    @apply bg-background text-foreground;
    font-family: var(--font-base);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  b,
  p,
  div {
    cursor: default;
  }

  code {
    font-family: var(--font-code);
  }
}
