@use "styles/theme" as *;

.primaryText {
  color: $green200;
}

.container {
  padding: 0;
  margin-bottom: -0.8rem;
}

.mainCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}

.mainHeader {
  color: $gray;
}

.mainDetail {
  color: $gray;
  font-size: 1.3em;
  margin: 2vh 2vw 2vh 2vw;
  text-align: center;
  line-height: 1.7;
}