
.navWrapper {
  font-family: 'Raleway', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  margin:0
}
.navWrapper * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.navWrapper li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1em;
  padding: 0;
}
.navWrapper a {
  padding: 0.5em 0.8em;
  margin: 0;
  display: block;
  color: #181819;
  position: relative;
  text-decoration: none;
}
.navWrapper a:before,
.navWrapper a:after {
  height: 14px;
  width: 14px;
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
}
.navWrapper a:before {
  left: 0;
  top: 0;
  border-left: 3px solid #009c22;
  border-top: 3px solid #009c22;
  -webkit-transform: translate(100%, 50%);
  transform: translate(100%, 50%);
}
.navWrapper a:after {
  right: 0;
  bottom: 0;
  border-right: 3px solid #009c22;
  border-bottom: 3px solid #009c22;
  -webkit-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}
.navWrapper a:hover,
.navWrapper .current a {
  color: #009c22;
  text-decoration: none;
}
.navWrapper a:hover:before,
.navWrapper .current a:before,
.navWrapper a:hover:after,
.navWrapper .current a:after {
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  opacity: 1;
}
