.container {
  display: flex;
  padding: 1rem 1.5rem;
  box-shadow: 0px 0px 3px #181819;
  
  @media (max-width: 599px) {
    flex-direction: column;
    justify-content: space-around;
  }
}

.nav {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 2rem;
}
