.carousel_controls {
  background-color: rgba(65, 130, 127);
  border: none;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
}
@media (max-width: 599px) {
  .carousel_controls {
    height: 3rem;
    width: 3rem;
  }
}

.carousel_controls.is-active {
  background-color: #f0563d !important;
}
